p
{
    font-size: 10px;
    background: yellowgreen;
    width: 400px;
    text-align: center;
}
li
{
    font-size: 10px;
    background: antiquewhite;
    width: 360px;
    text-align: justify-all;
}
ul
{
    font-size: 10px;
    background: antiquewhite;
    width: 360px;
    text-align: justify-all;
}
h1
{
    background: green;
    font-size: 14px;
    width: 400px;
    text-align: center;
}
h2
{
    width: 400px;
    text-align: center;
    font-size: 12px;
    background: aqua;
}
img
{
    width: 200px
}
.pagenext
{
    width: 100%;
    font-size: 10px;
    text-align: right;
}